body {
  background: #252525;
  color: yellowgreen;
}

body > h2 {
  text-align: center;
}

.content-left {
  float : left;
  width : 35%;
}
.content-right {
  float : left;
  width : 60%;
  margin-left: 20px;
}

div.opcodes {
  margin-top: 10px;
}

section.byte-editor {
  height        : 250px;
  opacity       : 0.5;
  border        : solid 1px silver;
  border-radius : 3px;
}
section.asm-editor {
  min-height    : 400px;
  border        : solid 1px silver;
  border-radius : 3px;
}

section.cpu {
  padding: 10px;
}

.inline {
  display: inline;
}

.stepping {
  margin-left: 15px;
}

/* registers */
.registers td,
.registers th {
  border: solid 1px rgb(37, 37, 37);
  padding-left: 2px;
  padding-right: 2px;
}

.registers td.binary,
.registers th.binary {
  width: 95px;
}
.registers th.binary.span4 {
  width: 386.5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #333;
}

.registers td.hex,
.registers th.hex {
  width: 18.8px;
}

.registers th.hex.span4 {
  width: 81.2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #333;
}


.binary-heading,
.hex-heading {
  font-size: 12px;
  font-weight: normal;
  font-family: monospace;
  text-align: center;
  height: 10px;
  line-height: 10px;
  background-color: #333;
  padding: 5px;
}

.heading.binary,
.heading.hex {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  font-weight: normal;
  font-family: monospace;
  background: #111;
  white-space: pre;
  text-align: center;
  font-size: 10.66667px;
}

.byte-0 {
  color: rgb(230, 219, 116);
}
.byte-1 {
  color: rgb(230, 219, 116);
}
.byte-2 {
  color: rgb(113, 113, 245);
}
.byte-3 {
  color: rgb(204, 183, 241);
}

.reg .label {
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
}

.reg.eax .label {
  color: rgb(79, 79, 241);
}
.reg.ebx .label {
  color: green;
}
.reg.ecx .label {
  color: red;
}
.reg.edx .label {
  color: yellow;
}
.reg.esi .label {
  color: gray;
}
.reg.edi .label {
  color: gainsboro;
}
.reg.ebp .label {
  color: rgb(154, 208, 79);
}
.reg.esp .label {
  color: burlywood;
}
.reg.eip .label {
  color: rgb(161, 161, 235);
}

/* EFlags */

section.eflags {
  margin-top: 0px;
  margin-left: 10px;
}
div.eflag {
  display: inline-block;
  margin-left: 35px;
  cursor: pointer;
}
div.eflag:hover {
  color: antiquewhite;
}

.led {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;

  opacity: 0.2;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;

  background: rgba(210,255,82,1);
  background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
  background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
  border: solid 3px black;
}

.led.lit {
  opacity: 1.0;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

/* documentation */

.docs {
  background: antiquewhite;
  width: 504px;
  height: 120px;
  margin-left: 12px;
  border: solid #333 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  overflow-y: scroll;
}

.docs > h4 {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}
